{% extends "tickets/Base/base.html" %}
{% block title %} - Listado de Espectaculos{% endblock %}
{% block header %}
{{ block.super }}
{% block titulo %}{{E.nombre}} - Entretenimiento Unido{% endblock %}

<div align="center"><h1>Show de {{E.nombre}}</h1>
{% endblock %}

{% block contenido %}
<div>
<p>Aqui se muestra  el detalle  del  evento</p>
<p>Dias restantes para el inicio: 
<p>Cantidad  de  entradas  vendidas: </p> 
<p>Entradas restantes: </p>


<span style="background-color:#C00"><strong> Disponibilidad BAJA</strong></span>
<br />
<span style="background-color:#F60"><strong> Disponibilidad MEDIA</strong></span>
<br />
<span style="background-coloR:#093"><strong> Disponibilidad ALTA</strong></span>
<br />

<span style="color:#900"><strong>***Entradas agotadas***</strong></span>
<br />
<span style="color:#069"><strong>***Evento finalizado***</strong></span>



{% endblock %}
