{% extends "tickets/Base/base.html" %}
{% block title %} - Listado de Espect&aacute;culos{% endblock %}
{% block titulo %}Listado de Espect&aacute;culos{% endblock %}

{% block estilos %}
table td {padding: 3px;}
{% endblock %}

{% block contenido %}

<form id="form1" name="form1" method="post" action="">
{% csrf_token %} 

Buscar: &nbsp;&nbsp;&nbsp;<input  type="text"  name="buscar"  id="buscar"  value="{%  if  busqueda  !=  None  %} 
{{busqueda}} {% endif %}" />
<input type="submit" value= "  Buscar  "/>
<br />
<br />
<table border="0" align="center" cellspacing="1">
<tr>
<td width="17%"><strong>Nombre</strong></td>
<td width="28%"><strong>Descripci&oacute;n</strong></td>
<td width="25%"><strong>Lugar</strong></td>
<td width="20%"><strong>Fecha y hora</strong></td>
<td width="10%"><strong>Detalle</strong></td>
</tr>
{% for E in espectaculos %}
<tr bgcolor="{% cycle '#CCCCCC' '#DDDDDD' %}">
<td>{{E.nombre}}</td>
<td>{{E.descripcion}}</td>
<td>{{E.lugar.nombre}}</td>
<td>{{E.hora|date:"d/m/Y H:i"}}</td>
<td><a href="/espectaculo/{{E.id}}/">+ Ampliar</a></td>

</tr>
{% empty %}
<tr><td colspan="3" bgcolor="#FF0000" style="color:#FFF">No existen espectaculos</td></tr>
{% endfor %}
</table>
{% endblock %}
