{% extends "tickets/Base/base.html" %}
{% block title %} - Listado de Espect&aacute;culos{% endblock %}
{% block titulo %}Listado de Espect&aacute;culos{% endblock %}

{% block estilos %}
<!--table td {padding: 1px;}
table td a:hover {text-decoration: none;}
#divArtista {border: 1px solid black;}
#botonVerMas {background: rgb(40, 107, 204); width: 30px;}
.nombreEspectaculo {font-size: 20px; font-weight: bold;}-->
{% endblock %}

{% block contenido %}

<form id="form1" name="form1" method="post" action="">
{% csrf_token %}

Buscar: &nbsp;&nbsp;&nbsp;<input type="text" name="buscar" id="buscar" value="{% if busqueda != None %}
{{busqueda}} {% endif %}" />
<input type="submit" value= " Buscar "/>
<br />
<br />


{% for E in espectaculos %}
<table border="0" width="100%" cellspacing="0">
<tr><td rowspan="3" width="80" height="80">(foto)</td><td colspan="2" class="nombreEspectaculo">{{E.nombre}}</td></tr>
<tr><td colspan="2">{{E.descripcion}}</td></tr>
<tr><td>{{E.hora|date:"d \d\e M \d\e Y, H:i\h"}} - {{E.lugar.nombre}}</td>
    <td align="right" id="botonVerMas"><a href="/espectaculo/{{E.id}}/">&nbsp;+&nbsp;Ampliar&nbsp;</a></td></tr>
<tr><td colspan="3" height="15" vertical-align="bottom"><hr width="100%" color="black"></td></tr>
</table>




</tr>
{% empty %}
<tr><td colspan="3" bgcolor="#FF0000" style="color:#FFF">No existen espect&aacute;culos</td></tr>
{% endfor %}
</table>
{% endblock %}