{% extends "tickets/Base/base.html" %}
{% block title %} - Listado de Espectaculos{% endblock %}
{% block header %}
{{ block.super }}
{% block titulo %}{{C.nombre}} Espectaculos de {{C.nombre}}{% endblock %}

<div align="center"><h1>Espectaculos de {{C.nombre}}</h1>
{% endblock %}

{% block contenido %}
<form id="form1" name="form1" method="post" action="">
{% csrf_token %} 


Buscar:<input  type="text"  name="buscar"  id="buscar"  value="{%  if  busqueda  !=  None  %} 
{{busqueda}} {% endif %}" />
<input type="submit" value= "Buscar"/>
<br />
<table width="83%" border="0" align="center">
<tr>
<td width="19%"><strong>Nombre</strong></td>
<td width="29%"><strong>Descripcion</strong></td>
<td width="25%"><strong>Lugar</strong></td>
<td width="15%"><strong>Fecha y hora</strong></td>
<td width="12%"><strong>Detalle</strong></td>
</tr>
{% for E in espectaculos %}
<tr bgcolor="{% cycle '#CCCCCC' '#FFFFFF' %}">
<td>{{P.nombre}}</td>
<td>{{P.descripcion}}</td>
<td>{{P.lugar}}</td>
<td>{{P.fechaHora}}</td>
<td><a href="/espectaculo/{{E.id}}/">+ Ampliar</a></td>

</tr>
{% empty %}
<tr><td colspan="3" bgcolor="#FF0000" style="color:#FFF">No existen espectaculos</td></tr>
{% endfor %}
</table>
{% endblock %}
