{% extends "tickets/Base/base.html" %}
{% block title %} - Compra - Paso 4{% endblock %}
{% block titulo %}Compra de ticket - Paso 4{% endblock %}

{% block contenido %}
<!-- Compra/paso4 -->

<div class='error'></div>

<br><br>

<form id="form1" name="form1" method="post" action="">
{% csrf_token %} 
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="error"> {{error}} </p>
{% endfor %}
{% endif %}



</form>

{% if verificaCompra %}
	<h2>Felicitaciones!!</h2>
	<br>
	{% for ticket in tickets %}
	Se ha finalizado tu compra, retira tu entrada con el n&uacute;mero de documento {{ documento }} 
	en {{ticket.espectaculo.lugar}} el d&iacute;a {{ticket.espectaculo.hora|date:"d \d\e F \d\e Y"}}.
	{% endfor %}
{% else %}
	<h2>Lo sentimos</h2>
	<br>
	Hubo un error y su compra no pudo procesarse.
	<br>
	<br>
	<div>{{ msg }}</div>
	<br>
	<a href="../{{idEspectaculo}}/"><button class="botonAzul"> Intentar de nuevo </button></a>
	
{% endif %}

{% endblock %}





