{% extends "tickets/Base/base.html" %}
{% block title %} - Compra - Paso 4{% endblock %}
{% block titulo %}Compra de ticket - Paso 4{% endblock %}

{% block contenido %}

<div class='error'></div>

<br><br>

<form id="form1" name="form1" method="post" action="">
{% csrf_token %} 
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="error"> {{error}} </p>
{% endfor %}
{% endif %}

Ingrese el PIN enviado a su celular: &nbsp;&nbsp;
<input name="pin" type="text" id="pin" value="" /> &nbsp;&nbsp;
<input type="submit" name="button" id="button" value="Continuar" class="botonAzul" />
</form> 

<input type="hidden" name="idEspectaculo" id="idEspectaculo" value="{{ idEspectaculo }}" />
<input type="hidden" name="idSector" id="idSector" value="{{ idSector }}" />
<input type="hidden" name="cantidad" id="cantidad" value="{{ cantidad }}" />


{% endblock %}
