{% extends "tickets/Base/base.html" %}
{% block title %} - Compra - Paso 2{% endblock %}
{% block titulo %}Compra de ticket - Paso 2{% endblock %}

{% block contenido %}
<!-- Compra/paso2 -->

<div class='error'></div>

<br><br>

<form id="form1" name="form1" method="post" action="../paso3/">
{% csrf_token %} 
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="error"> {{error}} </p>
{% endfor %}
{% endif %}

Ingrese su celular: &nbsp;&nbsp;
<input name="telefono" type="text" id="telefono" value="" /> &nbsp;&nbsp;
<input type="submit" name="button" id="button" value="Continuar" class="botonAzul" />

<br /><br />
<input type="hidden" name="idEspectaculo" id="idEspectaculo" value="{{ idEspectaculo }}" /><br />
<input type="hidden" name="idSector" id="idSector" value="{{ idSector }}" /><br />
<input type="hidden" name="cantidad" id="cantidad" value="{{ cantidad }}" /><br />
</form> 



{% endblock %}


