<!DOCTYPE HTML>

<html>
<head>
<title>Entretenimiento Unido{% block title %}{% endblock %}</title>
<link href='estilos.css' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="divGeneral">

	<div id="divSuperior">
	<h1>Entretenimiento Unido</h1>
	<h5>Tickets para todos los espect&aacute;culos en un solo lugar</h5>
	</div>

	<div id="divMenu">
		<a href="#">Inicio</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="letraNegra">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#">Buscar</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="letraNegra">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#">Afiches</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="letraNegra">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#">Contacto</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="letraNegra">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#">Acerca de</a>
	</div>

	<div id="divContenido">
		<div id="divTitulo"><h2>{% block titulo %}Titulo{% endblock %}</h2></div>
		{% block contenido %}{% endblock %}
	</div>

	<div id="divPie">
		Copyright &copy; 2013 Entretenimiento Unido S.A. | Pol&iacute;tica de Privacidad
	</div>

</div>
</body>
</html>